.img {
  width: 25px;
}

nav {
  padding: 10px;
  border-bottom: 2px solid lightgrey;
  background-color: white;

  .flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 100px;
  }

  .flex-nav div {
    margin-right: 20px;
  }

  .nav-profile {
    position: relative;
  }

  .nav-menu {
    position: absolute;
    top: 45px;
    left: -185px;
    width: 240px;
    padding: 10px;
    border-radius: 0.4em;
    background: #f2f2f2;
  }

  .nav-menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 85%;
    width: 0;
    height: 0;
    margin-top: -15px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom-color: #f2f2f2;
  }

  .nav-button {
    border: none;
    background-color: white;
  }

  .menu p {
    padding: 7px 0px;
  }

  .logout {
    padding-top: 7px;
    border-top: 1px solid black;
  }

  .search {
    display: block;
    top: 15px;
    left: 40%;
    margin: auto;
    padding: 5px;
    // font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  .speech-bubble {
    position: fixed;
    left: 40%;
    width: 250px;
    padding: 5px;
    border-radius: 0.4em;
    background: #f2f2f2;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -15px;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom-color: #f2f2f2;
  }

  .show {
    display: none;
  }

  .search:focus {
    outline: none;
  }

  .border-right {
    padding-right: 20px;
    border-right: 1px solid black;
  }
}

main {
  display: flex;
  margin: 50px 250px;

  .main-left {
    width: 60%;
    margin-right: 20px;
    border: 1px solid lightgray;
  }

  .main-right {
    width: 40%;
  }

  .profile {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .profile-img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 70%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .feed-img img {
    width: 100%;
    height: 560px;
  }

  .feed-content {
    padding: 10px;
  }

  .content-menu {
    display: flex;
    justify-content: space-between;
  }

  .content-menu i {
    margin-right: 10px;
    font-size: 20px;
  }

  .left i:nth-child(1) {
    color: red;
  }

  .content-like {
    display: flex;
    align-items: center;
    margin: 10px 0px;
  }

  .content-like div:nth-child(1) {
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 70%;
  }

  .content-reply div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .time {
    color: gray;
  }

  .reply-box {
    position: relative;
    border-top: 1px solid lightgray;
  }

  .reply {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fafafa;
  }

  .reply:focus {
    outline: none;
  }

  .btn {
    position: absolute;
    top: 9px;
    right: 0;
    border: none;
    background-color: #fafafa;
    color: lightblue;
  }

  .btn:active {
    color: blue;
  }

  .wecode-profile {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .wecode-img {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 70%;
  }

  .wecode-content p:nth-child(2) {
    color: gray;
  }

  .story-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #ffffff;
  }

  .story-nav {
    display: flex;
    justify-content: space-between;
  }

  .story-nav p:nth-child(1) {
    color: gray;
  }

  .story-time {
    display: flex;
    align-items: center;
    margin: 7px 0px;
  }

  .story-time p:nth-child(2) {
    color: gray;
  }

  .story-img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 70%;
  }

  .follow {
    border: none;
    background-color: #ffffff;
    color: skyblue;
    font-size: 15px;
  }

  .infor {
    color: lightgray;
  }

  .setting-reply {
    border: none;
    background-color: #fafafa;
  }

  .red {
    color: red;
  }

  @media screen and (max-width: 1200px) {
    margin: 50px 200px;
  }

  @media screen and (max-width: 968px) {
    margin: 50px 100px;
  }

  @media screen and (max-width: 850px) {
    margin: 50px 100px;

    .main-right {
      display: none;
    }
    .main-left {
      width: 100%;
    }
    .flex-nav input {
      position: unset;
    }
  }
}

// .main-left{
//     width: 60%;
//     border: 1px solid lightgray;
//     margin-right: 20px;
// }

// .main-right{
//     width: 40%;
// }

// .profile{
//     display: flex;
//     align-items: center;
//     padding: 10px;
// }

// .profile-img{
//     width: 45px;
//     height: 45px;
//     border-radius: 70%;
//     overflow: hidden;
//     margin-right: 20px;
// }

// img{
//     width: 100%;
//     height: 100%;
// }

// .feed-img img{
//     width: 100%;
//     height: 560px;
// }

// .feed-content{
//     padding: 10px;
// }

// .content-menu{
//     display: flex;
//     justify-content: space-between;
// }

// .content-menu i{
//     margin-right: 10px;
//     font-size: 20px;
// }

// .left i:nth-child(1){
//     color: red;
// }

// .content-like{
//     margin: 10px 0px;
//     display: flex;
//     align-items: center;
// }

// .content-like div:nth-child(1){
//     width: 25px;
//     height: 25px;
//     border-radius: 70%;
//     overflow: hidden;
//     display: inline-block;
// }

// .content-reply div{
//     margin-bottom: 10px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .time{
//     color: gray;
// }

// .reply-box{
//     border-top: 1px solid lightgray;
//     position: relative;
// }

// .reply{
//     width: 100%;
//     background-color: #FAFAFA;
//     border: none;
//     padding: 10px;
// }

// .reply:focus{
//     outline: none;
// }

// .btn{
//     position: absolute;
//     right: 0;
//     top: 9px;
//     border: none;
//     background-color: #FAFAFA;
//     color: lightblue;
// }

// .btn:active{
//     color: blue;
// }

// .wecode-profile{
//     display: flex;
//     padding: 10px;
//     align-items: center;
// }

// .wecode-img{
//     width: 45px;
//     height: 45px;
//     border-radius: 70%;
//     overflow: hidden;
//     display: inline-block;
//     margin-right: 10px;
// }

// .wecode-content p:nth-child(2){
//     color: gray;
// }

// .story-box{
//     border: 1px solid lightgray;
//     padding: 10px;
//     background-color: #FFFFFF;
//     margin-bottom: 20px;
// }

// .story-nav{
//     display: flex;
//     justify-content: space-between;
// }

// .story-nav p:nth-child(1){
//     color: gray;
// }

// .story-time{
//     display: flex;
//     align-items: center;
//     margin: 7px 0px;
// }

// .story-time p:nth-child(2){
//     color: gray;
// }

// .story-img{
//     width: 35px;
//     height: 35px;
//     border-radius: 70%;
//     overflow: hidden;
//     display: inline-block;
//     margin-right: 10px;
// }

// .follow{
//     color: skyblue;
//     background-color: #FFFFFF;
//     border: none;
//     font-size: 15px;
// }

// .infor{
//     color: lightgray;
// }

// .setting-reply{
//     border: none;
//     background-color: #FAFAFA;
// }

// .red{
//     color: red;
// }

// @media screen and (min-width:1200px) {
//     main{
//         margin-left: 250px;
//         margin-right: 250px;
//     }
// }

// @media screen and (max-width:968px){
//     main{
//         margin-left: 100px;
//         margin-right: 100px;
//     }
// }

// @media screen and (max-width:800px) {
//     main{
//         margin-left: 100px;
//         margin-right: 100px;
//     }
//     .main-right{
//         display: none;
//     }
//     .main-left{
//         width: 100%;
//     }
//     .flex-nav input{
//         position: unset;
//     }
// }
